/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./material-design-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./background.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: #fff;
  text-decoration: none;
}

#root {
  display: flex;
}

aside {
  height: 100vh;
}

aside nav ul {
  list-style: none;
  margin: 20px 10px;
  padding: 0;
}

aside nav ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

aside nav ul li a {
  color: #cccccccc;
  transition: all .25s ease-in;
}

aside nav ul li a:hover {
  color: #fff;
}

aside nav ul li i.material-icons {
  font-size: 36px;
  color: #cccccccc;
  cursor: pointer;
  transition: all .25s ease-in;
}

aside nav ul li:hover i.material-icons {
  color: #fff;
}

.wall {
  display: flex;
  overflow: hidden;
  margin: 20px 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
}

.photo {
  box-sizing: border-box;
  width: 33.33%;
  padding: 10px;
  transition: all .1s ease-in;
}

.photo:hover {
  transform: scale(1.025);
}

.photo:before {
  opacity: .75;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 40px;
  content: "";
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}

.photo img {
  box-sizing: border-box;
  display: block;
  width: 100%;
  box-shadow: 0px 0px 5px 1px #feffdb;
}

.photo .counters, .photo .actions {
  display: flex;
  position: absolute;
  bottom: 15px;
}

.photo .counters {
  left: 20px;
}

.photo .actions {
  right: 20px;
}

.photo .counters span, .photo .actions span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45px;
  margin-right: 5px;
  color: #fff;
  cursor: pointer;
}

.photo .counters span i.active {
  color: #c0392b;
}

#single_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #000;
}

#single_photo figure {
  height: 50vh;
  margin: 0;
}

#single_photo figure img {
  width: auto;
  height: 100%;
}

#single_photo .info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  height: 50vh;
  padding: 20px;
  background: #fff;
}

#single_photo .info p {
  margin: 0 0 10px 0;
}

#single_photo .info small {
  display: flex;
  align-items: center;
  color: #999;
  margin: 0 0 10px 0;
}

#single_photo .info small i {
  margin-right: 5px;
  font-size: 16px;
}

#single_photo .info ul#comments {
  margin: 0;
  padding: 0;
  list-style: none;
}

#login, #add_photo, #edit_photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  color: #ccc;
}

form {
  color: #fff;
  width: 25%;
}

form .input-group {
  display: flex;
  flex-direction: column;
}

form .input-group label {
  margin-bottom: 10px;
}

form .input-group input {
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: #cccccccc;
}

form .input-group button {
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: transparent;
  color: #ccc;
  cursor: pointer;
  transition: all .25s ease-in;
}

form .input-group button:hover {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: #cccccccc;
  color: #000;
}